nav {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 32px !important;
  background-color: #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: "Poppins", sans-serif !important;
}

.navbar a {
  color: #fff;
  font-size: 18px; /* Increase font size */
  margin-left: 2.3vw;
}

.navbar-brand img {
  margin-left: 13vw;
  width: 30%;
  height: auto;
}

nav a:hover {
  color: #eeba29 !important;
}

.active-custom a {
  color: #eeba29 !important;
}

/* Button */
.btn-custom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #eeba29;
  color: #000 !important;
  font-size: 18px;
  text-decoration: none;
  margin-left: 20px; /* Add margin to separate from other links */
}

.btn-custom:hover {
  color: #fff !important;
}

.container-fluid {
  margin-top: 20vh !important;
}

.row {
  display: flex;
  justify-content: center;
}

.row2 {
  margin-top: 8vh;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  box-shadow: 3px 5px 4px #888888;
}
.video-container video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.zoomed-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  position: fixed;
  z-index: 9999;
  background-color: #fff;
}
.zoomed-video iframe {
  width: 90vw;
  height: 70vh;
}
.close-button {
  position: absolute;
  bottom: 10px;
  right: 25px;
  z-index: 2;
}
