body {
  background-image: url("../../assets/img/contact-bg.svg");
  font-family: "Poppins", sans-serif;
}

.footer-container a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 32px !important;
  background-color: #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: "Poppins", sans-serif !important;
}

.navbar a {
  color: #fff;
  font-size: 18px; /* Increase font size */
  margin-left: 2.3vw;
}

.navbar-brand img {
  margin-left: 10vw;
  width: 30%;
  height: auto;
}

nav a:hover {
  color: #eeba29 !important;
}

/* Button */
.btn-custom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #eeba29;
  color: #000 !important;
  font-size: 18px;
  text-decoration: none;
  margin-left: 20px; /* Add margin to separate from other links */
}

.btn-custom:hover {
  color: #fff !important;
  text-decoration: none;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin-top: 13vh !important;
  max-width: 74vw !important; /* Increase the width as per your requirement */
  padding: 4vw 7vw; /* Add padding to sides */
  height: 60vh;
  background-color: #fff;
  border-radius: 5px;
}

.container h1 {
  font-size: 40px;
  font-style: bold;
  margin-bottom: 8vh !important;
}

.form-control-underline {
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  padding: 0;
  margin-bottom: 20px;
  height: 40px;
  font-size: 16px;
}

.form-control-underline:focus {
  border: none;
  outline: none;
}

.form-control:focus {
  outline: none;
  border: #fff;
}

/*edit input width*/
.form-group input {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  width: 20vw;
}

label {
  margin-right: 1rem;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.footer-container {
  width: 60vw; /* Match this with the container width */
  justify-content: space-between;
  background-color: transparent;
  position: fixed;
  bottom: 0;
  left: 0;
  margin-left: 12.5vw;
  padding-bottom: 2vh;
}

.footer-logo {
  width: 50%;
  margin-bottom: 1.5vh;
}

.footer-link {
  text-decoration: none;
  color: #000;
  display: block;
  margin-bottom: 1.5vh;
}
