/* Body */
main {
  font-family: "Poppins", sans-serif;
}

p {
  font-size: large;
}
/* Navbar */
.navbar {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: "Poppins", sans-serif !important;
}

.navbar {
  min-height: 32px !important;
}

.navbar-brand img {
  margin-left: 4vw;
  width: 35%;
  height: auto;
}
nav a:hover {
  color: #3164f4 !important;
}

.active-custom a {
  color: #3164f4 !important;
}

.menu a {
  color: #000000;
  text-decoration: none;
  margin-right: 20px;
}

/* Main section */
.main-section {
  background-color: #fff;
  padding: 8vw;
}

.landingCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.landingCard h1 {
  font-family: "Poppins", sans-serif;
  font-size: 70px;
  /*text-align: start;  add this line to center the text */
}

.landingCard button {
  margin: 0 10px; /* add this line to add some spacing between the buttons */
}

.pricing-card {
  box-shadow: 0.5px 2px 6px rgba(0, 0, 0, 0.5);
  border: none;
}

.pricing-img img {
  width: 50%; /* increase the width of the image to 50% */
}

.card2 h2 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
}

.card3 .card4 h2 {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
}

.main-section p {
  font-family: "Roboto Mono", monospace;
}

.landingCard {
  border-radius: none;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; /* add this line to center the content vertically */
}

.card1 {
  border-radius: none;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  background-color: #fff;
}

.card2 {
  padding-top: 10vh;
}

.card-body {
  padding: 40px;
}

.card-img {
  width: 80%;
  height: auto;
}

.steps img {
  width: 80%;
}

.text-gray {
  color: #b5b5b5;
  font-size: 16px;
  margin-bottom: 20px;
}

.heading {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.text-black {
  font-size: 16px;
  margin-bottom: 40px;
}

.button-group {
  display: flex;
}

.btn {
  margin: 0.3vw;
}

.btn-blue {
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 10px;
}

.btn-gray {
  background-color: #f8f9fa;
  color: #000000;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

#pricing {
  padding-top: 10vh; /* Adjust this value to add the necessary padding */
  margin-top: -10vh; /* This will move the element up by the same amount as the padding */
}

#about {
  font-family: "Poppins", sans-serif;
  padding-top: 10vh; /* Adjust this value to add the necessary padding */
  margin-top: -10vh; /* This will move the element up by the same amount as the padding */
}

.mission-img {
  width: 100vh !important;
  height: auto;
  z-index: -1;
}

.footer-container {
  padding-bottom: 40px;
  font-family: "Poppins", sans-serif;
}

.footer-logo {
  width: 50%;
  margin-bottom: 1.5vh;
}

.footer-link {
  text-decoration: none;
  color: #000;
  display: block;
  margin-bottom: 1.5vh;
}
.card-text {
  margin-top: 2.5vh;
}

.card-body h4 {
  font-size: 18px;
  font-weight: bold;
}

.card-body p {
  font-size: 14px;
  font-weight: 400;
}

.card-img-right {
  height: auto;
  width: 100% !important;
}
