/* Body */
main {
  font-family: "Poppins", sans-serif;
}

p {
  font-size: large;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40vw;
  min-height: 32px !important;
  background-color: #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-family: "Poppins", sans-serif !important;
}

.navbar a {
  color: #fff;
  font-size: 18px; /* Increase font size */
  margin-left: 2vw;
}

.navbar-brand img {
  margin-left: 10vw;
  width: 35%;
  height: auto;
}

nav a:hover {
  color: #eeba29 !important;
}

.active-custom a {
  color: #eeba29 !important;
}

/* Button */
.btn-custom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #eeba29;
  color: #000 !important;
  font-size: 18px;
  text-decoration: none;
  margin-left: 20px; /* Add margin to separate from other links */
}

.btn-custom:hover {
  color: #fff !important;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main section */
.main-section {
  background-color: #fff;
  padding: 8vw;
}

.landingCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.landingCard h1 {
  font-family: "Poppins", sans-serif;
  font-size: 70px;
  /*text-align: start;  add this line to center the text */
}

.landingCard button {
  margin: 0 10px; /* add this line to add some spacing between the buttons */
}

.card .accent-tag {
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #eeba29;
  color: #000 !important;
  font-size: 14px;
  text-decoration: none;
  margin-bottom: 20px;
}

.feature-card img {
  display: block;
  max-height: 30vh;
  width: auto;
  height: auto;
}

.feature-card a {
  text-decoration: none;
}

.card2 h2 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
}

.card3 .card4 h2 {
  font-family: "Poppins", sans-serif;
  font-size: 32px;
}

.main-section p {
  font-family: "Poppins", sans-serif;
}

.landingCard {
  border-radius: none;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; /* add this line to center the content vertically */
}

.card1 {
  border-radius: none;
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  background-color: #fff;
}

.card2 {
  padding-top: 10vh;
}

.medal {
  padding-top: 10vh;
}

.card-body {
  padding: 40px;
}

.card-img {
  width: 80%;
  height: auto;
}

.steps {
  background-color: #000;
  color: #fff;
}

.steps h2 {
  font-size: 70px;
  margin: 2vh 0;
}

.steps .card-body p {
  font-size: 20px;
}

.steps img {
  width: 80%;
}

.request-demo-btn {
  display: block;
  margin: 5vh auto 4vh;
  padding: 15px 30px;
  border-radius: 50px;
  background-color: #eeba29;
  color: black;
  font-size: 16px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.request-demo-btn:hover {
  background-color: yellow;
}

.text-gray {
  color: #b5b5b5;
  font-size: 16px;
  margin-bottom: 20px;
}

.heading {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.text-black {
  font-size: 16px;
  margin-bottom: 40px;
}

.button-group {
  display: flex;
}

.btn {
  margin: 0.3vw;
  border-radius: 50px;
}

.btn-blue {
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 10px;
}

.btn-gray {
  background-color: #f8f9fa;
  color: #000000;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

#pricing {
  padding-top: 10vh; /* Adjust this value to add the necessary padding */
  margin-top: -10vh; /* This will move the element up by the same amount as the padding */
}

#about {
  font-family: "Poppins", sans-serif;
  padding-top: 10vh; /* Adjust this value to add the necessary padding */
  margin-top: -10vh; /* This will move the element up by the same amount as the padding */
}

.mission-img {
  width: 100vh !important;
  height: auto;
  z-index: -1;
}

.footer-container {
  padding-bottom: 2vh;
  font-family: "Poppins", sans-serif;
}

.footer-container a {
  text-decoration: none;
}

.footer-logo {
  width: 50%;
  margin-bottom: 1.5vh;
}

.footer-link {
  text-decoration: none;
  color: #000;
  display: block;
  margin-bottom: 1.5vh;
}

.card-text {
  margin-top: 2.5vh;
}

.card-body h4 {
  font-size: 18px;
  font-weight: bold;
}

.card-body p {
  font-size: 14px;
  font-weight: 400;
}

.card-img-right {
  height: auto;
  width: 100% !important;
}
